{% extends "layout.njk" %}

{% block content %}

<main class="container">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <img src="images/funny-mindmap-answers.png" width="600">
    <p>Se det fantastiska repot på GitHub: {{ "https://github.com/Frisaf/webserver-test" | urlize | safe }}</p>
    <p>Varför blandar jag engelska och svenska? I don't know!</p>
</main>

{% endblock %}