{% extends "layout.njk" %}

{% block content %}

<main class="container">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <p>Läs mer om ingenting <a href="/about">här</a>.</p>
    <p>Skriv något kul här nedan och få en opersonlig hälsning från dig själv!</p>
    <form id="userMessage" action="/greeting" method="GET" onkeydown="if(event.keyCode === 13) {
    alert('Använd submitknappen istället, idiot.');
     return false;}">
        <input placeholder="Vad heter du?" type="text" name="name" autocomplete="off">
        <textarea name="message" rows="3" placeholder="Skriv något kul" cols="50" autocomplete="off"></textarea>
        <button type="submit">Submit</button>
    </form>
</main>

{% endblock %}