{% extends "layout.njk" %}

{% block content %}

<main class="container">
    <h1>{{ title }}</h1>
    <p>Some movies and what I think about them. These are my PERSONAL OPINION. The language listed in the movie info is the language I watched the movie in, which is in most cases the original language.</p>
    <p>Use the search bar below to search for the movie you want to read about, or why not add a movie review of your own?</p>
    <hr>
    {% include "search.njk" %}
    <hr>
    <h2>All movies</h2>
    <p>Click on the movie title to get a more in depth review. Please note that they reviews might contain spoilers! Proceed with caution...</p>
    <hr>
    {% for movie in movies %}
        <p><strong><a href="/movies/{{ movie.id }}">{{ movie.title }}</a> ({{ movie.year }}, {{ movie.language }}):</strong> {{ movie.rating }}</p>
        <p><strong>Genre: </strong>{{ movie.genre }}</p>
        <hr>
    {% endfor %}
</main>

{% endblock %}