<nav>
    <span><strong><a href="/">WEBBSERVER INTRO</a></strong></span>
    <div class="navLinks">
        <a href="about">About</a>
        <a href="trash?message=Mind cleaning up here?">Trash</a>
        <a href="movies">Movies</a>
    </div>
</nav>